*{
    margin: 0;
}

header{
    color: white;
    background-color: rgb(103, 57, 76);
    padding: 10px 0 10px 30px;

}
nav{
    background-color: rgb(193, 193, 193);
    text-align: right;
    padding: 20px 0 20px 30px;

}

nav a{
    color:rgb(20, 17, 30);
    text-decoration: none;
    font-size: large;
    font-family: san-serif;
    padding-right: 50px;
}

.footer{
    background-color: rgb(201, 201, 201);
}

img {
    width: 200px;
    height: 200px;
}

.product-title{
    text-decoration: none;
    font-family: Times New Roman;
}
.content{
    font-family: Times New Roman;
    font-weight: bold;
}